body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    padding-bottom: 5px;
}


.form-input {
    width: 80%;
    padding: 10px 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.angle-contain {
    width: 8%;
    padding-right: 1px;
}

.form-button {
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#obratna-zadacha {
    display: none;
}
#problemo {
    height: 2.5em;
    width: 5em;
}